#paineis-sobre{
	margin-top: 20px;
}


.titulo-depoimentos{
	background-color: #0275D8;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
}
